*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li a{
    text-decoration: none;
}

div img{
    display: block;
    width: 100%;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width:320px;
}


header{
    background-color: darkblue;
    height: 100px;
    display: flex;
    align-items: center;
    color: whitesmoke;
    min-width: 320px;
}

header .list-items{
    display: flex;
    max-width: 275px;
    width: 100%;
    justify-content: space-between;
    color: whitesmoke;
    align-items: center;

}

.list-items li a{
    color: whitesmoke;
   
}

header .menu{
    justify-content: space-between;
}

.apresentacao{
    height: 100vh;
    align-items:center;
    justify-content: space-between;

}

.apresentacao .texto-apresentacao{
    min-height: 300px;
}
.apresentacao a{
    min-width: 120px;
}

.texto-apresentacao h2{
    color: darkblue;
    font-size: 48px;
    margin-bottom: 5px;
}

.btn{
    background-color: darkblue;
    color: whitesmoke;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: flex;
    text-decoration: none;
    height: 50px;
    line-height: 2.85;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}


#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#quem-somos h3{
    font-size: 32px;
    display:flex;
    color:darkblue;
    margin-bottom: 20px;
}

#quem-somos h3::before{
    content: "";
    height: 40px;
    width: 5px;
    margin-right: 5px;
    background: darkblue;
    position:static;
}

#quem-somos p{
    margin-bottom: 10px;
    width: 95%;
}

#quem-somos img{
    min-width: 400px;
}
.container-externo{
    background-color: darkblue;
    width: 100%;
    height: 375px;
    margin-bottom: 20px;
    min-width: 320px;
}

#servicos{
    flex-direction: column;
    padding:15px 0px;

}
#servicos h3{
    color:whitesmoke;
    font-size: 32px;
}

.list-servicos{
    display:flex; 
    justify-content: space-between;
    text-align: center;
    margin-bottom: 30px;
    max-width: 990px;
    margin: auto;
}

 .list-servicos .item-servico{ 
     text-align:center;
 } 

.list-servicos img{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.list-servicos p{
    font-weight: 700;
    font-size: 17px;
    color: whitesmoke;
    margin-bottom: 20px;
}

.list-servicos a{
    width: 240px;
    background: whitesmoke;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    padding: 7px 10px;
    color:darkblue;

}

#planos{
    flex-direction: column;
    min-height: 89vh;
}

#planos h4{
    font-size: 32px;
    margin-top: 50px;
    color:darkblue;
}

.list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color:darkblue;
}

.item-plano{
    border: 5px solid rgb(6, 6, 110);
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    max-width: 240px;
}

.item-plano .btn{
    margin:auto;
    margin-bottom: 20px;
}

.item-plano h4{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h4::after{
    content: "";
    background-color: darkblue;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}  

.item-plano ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 3px;
}

.item-plano ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background: darkblue;
    margin-right: 5px;

}

footer{
    background-color: darkblue;
    height: 70px;
    display: flex;
    align-items: center;
    min-width: 320px;
}

footer .footer{
    justify-content: space-between;
    color: whitesmoke;
    display: flex;
    max-width: 990px;
    margin: auto;
    width: 100%;
}
footer p{
    margin-left:15px;
    margin-right:15px;
}

/* Tabletes em formato paisagem/Monitores antigos */
@media(max-width:992px){
    .flex-container{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .menu h1{
        margin-top: 15px;
        margin-left: 15px;
    }

    .list-items li{
        margin-bottom: 15px;
        margin-left: 15px;
    }

    .apresentacao{
        flex-direction: row;
        margin-top: 50px;
        max-width: 80%;
    }
    .apresentacao img{
        width: 320px;
        margin: auto;
        max-width: 80%;
        margin-bottom: 60px;
    }

    .texto-apresentacao h2 p{
        align-items:left;
    }
    .apresentacao .texto-apresentacao{
        width: 100%;
    }

    #quem-somos{
        flex-direction: column-reverse;
    }

    #quem-somos img{
        min-width: 320px;
        margin:auto;

    }
    #quem-somos h3{
        margin-left:15px;
    }

    #quem-somos p{
        text-align:left;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .container-externo{
        flex-direction: column;
        height: 100%;
        margin:auto;
    }

    #servicos h3{
        display:flex;
        width: 100%;
        justify-content: center;
    }

    .list-servicos{
        flex-direction: column;
        margin-bottom:20px;
    }

    .list-servicos img{
        width: 50%;
        margin: auto;
        max-width: 160px;
        margin-bottom: 20px;
    
    }

    #planos{
        margin-bottom: 20px;
    }
    .list-planos{
        margin-left: 15px;
        margin-right: 15px;
        flex-direction: column;
        justify-content:space-between;
        align-items:center;
    }

    .list-planos .item-plano{
        max-width: 80%;
        width: 100%;

    }

    #planos h4{
        text-align: center;
        margin-bottom: 20px;
    }

    item-plano a{
        margin:auto;
    }

    .footer{
        justify-content: space-around;
        padding: 0px 5px;
    }

}   

/* 605px - Está parte fiz para evitar uma quebra que estava acontecendo... */
@media(max-width:605px){
        .flex-container{
            flex-direction: column;
            width: 100%;
            height: 100%;
        }

        .flex-container apresentacao{
            flex-direction: column;
        }
        .apresentacao{
            flex-direction: column-reverse;
            max-width: 80%;
        }
        texto-apresentacao{
            margin:auto;
            text-align: center;
        }
        .flex-container h2{
            text-align: center;
        }

        .texto-apresentacao p{
            text-align:center;
        }
        .texto-apresentacao .btn{
            text-align: center;
            margin:auto;
            margin-top: 20px;
        }
        .flex.container img{
            max-width: 320px;
            width: 100%;
        }
    
}